.profile_page {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign {
  position: relative;
  width: 35%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}
.sign input {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  background: #fcfcfc;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
  border: none;
  outline: none;
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #414141;
}
.gender {
  width: 48% !important;
}
.css-b62m3t-container{
  outline: none !important;

}
.css-1s2u09g-control {
  border: none !important;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07) !important;
  background: #fcfcfc !important;
  border-radius: 0 !important;
}
.css-6j8wv5-Input:after {
  display: none !important;
}
#react-select-2-input {
  display: none;
}
.css-b62m3t-container{
  border-radius: 0 !important;
}
.css-14el2xx-placeholder,
.css-qc6sy-singleValue,
#react-select-2-listbox {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #414141;
}
.up_input {
  width: 48% !important;
  margin: 0 !important;
}
.input_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  position: relative;
}
.input_container {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  position: relative;
}
.required {
  position: absolute;
  top: 100%;
  height: 30px;
  font-size: 12px;
  color: firebrick;
}
.error_value {
  box-shadow: inset 0px 0px 3px firebrick !important;
}
.auth_btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.auth_btn a {
  width: 48%;
  height: 100%;
  background: #fcfcfc;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
  text-decoration: none;
}
.auth_btn a div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #414141;
  letter-spacing: 0.5px;
}
.log_in_btn {
  width: 48%;
  height: 40px;
  background: #245462;
  border: none;
  color: #ffffff;
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
.log_in_btn:hover {
  opacity: 0.9;
}
.auth_btn div:hover,
.active_btn {
  background: #dbf1f8 !important;
  color: #245462 !important;
}
.password_item {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 40px;
}
.create_check {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  position: relative;
}
.checked_show {
  position: absolute;
  top: 9px;
  left: 3px;
  font-size: 13px;
  color: #ffffff;
  display: block;
  pointer-events: none;
}
.checked_none {
  display: none;
}
.create_check label {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #414141;
  margin-left: 10px;
}
#show_password {
  -webkit-appearance: none;
  width: 19px;
  height: 19px;
  margin-bottom: 0px;
  padding: 0 !important;
  border-radius: 2px;
}
.show_background {
  background: #245462 !important;
}
.sign_up_password {
  margin-top: -10px;
}
.forget_link {
  color: #1a73e8;
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-decoration: none;
}
.next_loader_btn {
  pointer-events: none !important;
  opacity: 0.8;
  padding-top: 4px !important;
}
.next_btn,
.next_loader_btn {
  width: 120px;
  height: 40px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  border: none;
  background: #245462;
  color: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  cursor: pointer;
  padding-top: 3px;
  text-decoration: none;
}
.next_btn:hover {
  opacity: 0.8;
}
.otp_loader {
  display: flex !important;
  align-self: center !important;
  width: 160px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.otp_detail {
  position: relative !important;
  top: 0px !important;
  margin-top: 10px;
  margin-bottom: 30px;
}
.disabled_btn {
  opacity: 0.8;
  pointer-events: none;
}
.loader_spin_auth {
  width: 25px !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  padding-top: 4px !important;
}
.eror_post_request {
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: firebrick;
  top: 100px;
}
.close_sign_page {
  display: none !important;
}
.opt_inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.otp-field__input input {
  display: flex;
  width: 10px;
}

.opt_inputs {
  width: 100% !important;
}
.otp-field {
  width: 90%;
  margin: auto;
  display: flex !important;
  justify-content: space-between !important;
}
.opt_inputs .otp-field input {
  width: 50px !important;
  height: 50px !important;
  border-radius: 5px !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  padding-left: 20px !important;
}
.opt_inputs .otp-field input::-webkit-inner-spin-button,
.opt_inputs .otp-field input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
}
.opt_inputs .otp-field span {
  margin-left: 15px !important;
  font-size: 20px;
  font-weight: 600;
  display: none;
}
.title_enter_code {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 20px;
  color: #245462;
}
.sent_code_gmail {
  display: flex;
  align-self: flex-start;
  align-items: center;
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin: 0 25px;
  margin-bottom: 30px;
}
.resend_code {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #1a73e8;
  width: 100px;
  display: flex;
  margin-top: 20px;
  margin-left: 25px;
  display: flex;
  cursor: pointer;
  align-self: flex-start;
}
.code_next_btn {
  width: 160px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #245462;
  color: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
}
.go_back_btn {
  border: none;
  width: 160px;
  height: 40px;
  background: #dbf1f8 !important;
  color: #245462 !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}
.go_back_btn:hover,
.code_next_btn:hover {
  opacity: 0.9;
}
